*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Arial, Geometria, sans-serif;
    background-color: #2c7580;
}

body {
    padding: 10px 30px;
    font-size: 30px;
    user-select: none;
}

h1 {
    font-size: 25px;
    padding: 20px 0;
    text-shadow: 0 0 4px silver;
}

li {
    list-style-type: none;
}

.wrapper {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 0;
    padding: 5px;
    border: 5px groove gray;
    text-align: center;
}

/* tabs */
.tab-list {
    display: flex;
    gap: 10px;
    width: 100%;
    cursor: pointer;
}

.tab-item {
    flex-grow: 1;
    width: 50px;
    padding: 5px;
    background: gray;
    transition: width 0.5s;
}

/* content */
.content-list {
    width: 100%;
    border: 2px solid black;
}

.content-item {
    display: none;
    height: 200px;
    line-height: 200px;
    background: gray;
}

.tab-item.is-active {
    width: 80px;
    background: aqua;
}

.content-item.is-active {
    display: block;
}




